---
import PbImage from "./PbImage.astro";
const { offre } = Astro.props;
---

<div class="group relative overflow-hidden rounded-2xl border bg-white shadow-sm transition hover:-translate-y-1 hover:shadow-lg">
<div class="h-64 bg-slate-200 flex items-center justify-center overflow-hidden">
  <PbImage record={offre} recordImage={offre.images?.[0]} width={900} height={600} />
</div>
<a href={`/agenda/${offre.id}`}>Plus d'info</a>
<a class="underline" href={`/offres/${offre.id}`}>Voir plus</a>


  <div class="p-4 space-y-2">
    <h2 class="text-lg font-semibold">{offre.nomMaison}</h2>
  </div>
</div>
Layout
