---
import { getOffre } from '../../js/backend.mjs';
import Layout from '../../layouts/Layout.astro';
export const prerender = false;

const { id } = Astro.params;
const offre = await getOffre(id);
---

<Layout titre={offre.nomMaison}>
    <h2>{offre.nomMaison}</h2>
    <ul>
        <li>{offre.adresse}</li>
        <li>{offre.surface} m²</li>
        <li>{offre.prix} €</li>
        <li>{offre.description}</li>
    </ul>
</Layout>